ENV MB_DB_TYPE=mysql
ENV MB_DB_DBNAME=metabase
ENV MB_DB_PORT=3360
ENV MB_DB_USER=metabase
ENV MB_DB_PASS=<put_here_the_password_for_the_metabase_user>
ENV MB_DB_HOST=<put here the IP address for the Metabase database server e.g. 00.000.000.00>

ENV MB_ENCRYPTION_SECRET_KEY=<Add a random string here as the secret>
